site_name: Documentation Playerbots
site_url: https://Wishmaster117.github.io/playerbots-docs/
repo_url: https://github.com/wishmaster117/playerbots-docs/
edit_uri: edit/main/docs/

theme:
  name: material
  language: en
  palette:
    primary: indigo
    accent: indigo
  features:
    - navigation.sections

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra_css:
  - styles/extra.css

nav:
  - Home: index.md
  - Module map & glossary: module-map-and-glossary.md
  - High-level architecture: high-level-architecture.md
  - Major execution flows: execution-flows.md
  - AI architecture: ai-architecture.md
  - Gameplay systems: gameplay-specific-systems.md
  - data & configs: data-configs-architecture.md
  - Azerothcore Integration: core-changes-playerbots.md
  - Azerothcore Changelogs: core-changes-playerbots-changelog.md
  - Azerothcore Dev Only: core-changes-playerbots-developer.md
  - DIFF 2026/02/05: diff.md
  - Roadmap: roadmap.md