site_name: Documentation Playerbots
site_url: https://Wishmaster117.github.io/playerbots-docs/
repo_url: https://github.com/Wishmaster117/playerbots-docs/
edit_uri: edit/main/docs/

theme:
  name: material
  language: en
  palette: 
    primary: indigo
    accent: indigo
  features:
    - navigation.sections

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
